<div class="col-md-12">
	<div class="col-md-12">
		<div class="col-md-12">
			<h6 style="font-size: 20px;text-align: -webkit-right;" ng-click="logout()">LogOut</h6>
			<h2 style="text-align: -webkit-center;background-color: #337ab7;color: aliceblue;height: 60px;    padding-top: 12px;">ADMIN DASHBOARD</h2>
		</div>
	</div>
	<div class="col-md-12">
	    <div class="row">
	        <div class="col-md-12">
	        	<h2>List Of Donors</h2>
	            <table class="table">
	                <thead>
	                    <tr>
	                        <th>Mobile Number</th>
	                        <th>Mili Litre</th>
	                    </tr>
	                </thead>
	                <tbody>
	                	<tr ng-repeat="data in data">
	                		<td>{{data.mobile}}</td>
	                		<td>{{data.mililitre}}</td>
	                	</tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
</div>
