<!-- <style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gold;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>



<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a ng-click="donateblood()" style="color: black;">Donate Blood</a>
</div> -->
<div class="col-md-12">
  <div class="col-md-12">
    <h6 style="font-size: 20px;text-align: -webkit-right;" ng-click="logout()">LogOut</h6>
    <h2 style="text-align: -webkit-center;background-color: #337ab7;color: aliceblue;height: 60px;    padding-top: 12px;">Welcome to Blood Donation</h2>

  </div>
<!--   <div class="col-md-12">
     <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
  </div> -->
</div>
<br><br>
<div class="col-md-12">
    <h4 style="text-align: -webkit-center;margin-top: 60px;">Please Fill the following details</h4>
</div>
<br><br><br>
<div class="col-md-12">
<!--     <label>Reason For Blood Donation</label>
    <input type="text" name="reason" ng-model=""> -->
    <form>
        <div class="donate-form" style=" margin-top: 70px;text-align: -webkit-center;">
          <div>
            <h3 id="forallheader">Reason for Blood Donation:</h3>
            <input id="reason" type="text" placeholder="Reason for Blood Donation" ng-model="donor.reason" style="width: 500px;">
            <br>
            <h3 id="forallheader">Milliliters:</h3>
            <input id="Milliliters" type="text" placeholder="Milliliters" required ng-model="donor.mililitre">
            <br>
            <input type="submit" value="Donate Blood" style="color: black;margin-top:65px;background-color: tomato;" ng-click="donateblood(donor)" class="login-button" />
        </div>
      </form>
    </div>






<!-- 
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script> -->
