<body>
	<div class="col-md-12 col-xs-12 col-sm-12">
		<div class="col-md-12">
			<div class="col-md-12">
				<h2 class="form-heading text-center" style="margin-top: 60px;font-family: 'Salsa';font-size: 35px;color: lavender;">Registration for Donors</h2>
			</div>
			<div class="col-md-12">
				<h3 class="form-heading" style="margin-top: 52px;font-family: 'Salsa';
    margin-left: 15px;font-size: 25px;">Donors Information</h3>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-fields" style="margin-top: 20px;">
					<div class="col-md-12">
						<div class="col-md-6">
                            <label>First Name</label>
                        	<input type="text" id="username" ng-model="register.first_name" class="form-control input-sm" name="fullName" required placeholder="Donor First Name" only-alphabets>
                        </div>
                        <div class="col-md-6">
                            <label>Last Name</label>
                        	<input id="username" ng-model="register.last_name" ng-disabled="!register.first_name" class="form-control input-sm" name="fullName" placeholder="Donors Last Name" only-alphabets>
                        </div>
                        <br/>
                    </div>
                    <br><br><br>
                    <div class="col-md-12">
						<div class="col-md-6">
                            <label>Blood Group</label>
                        	<!-- <input id="username" ng-model="register.group" class="form-control input-sm" name="fullName" placeholder="Blood Group" ng-disabled="!register.last_name" only-alphabets> -->
                            <select id="ddlViewBy" ng-model="register.group" style="width: 509px;
    height: 30px;">
                                <option value="O+">O+</option>
                                <option value="A+" selected="selected">A+</option>
                                <option value="B+">B+</option>
                                <option value="AB+">AB+</option>
                                <option value="A-">A-</option>
                                <option value="B-">B-</option>
                                <option value="O-">O-</option>
                                <option value="AB-">AB-</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Contact Person if Emergency</label>
                        	<input id="username" ng-model="register.contact_person" class="form-control input-sm" name="fullName" ng-disabled="!register.group" placeholder="Contact Person if Emergency" only-alphabets>
                        </div>
                        <br/>
                    </div>
                      <br><br><br>
                    <div class="col-md-12">
						<div class="col-md-6">
                            <label>Email Id</label>
                        	<input id="username" ng-model="register.email_id" class="form-control input-sm" name="fullName" placeholder="email id" ng-disabled="!register.contact_person" only-alphabets>
                        </div>
                        <div class="col-md-6">
                            <label>Mobile Number</label>
                        	<input id="username" ng-model="register.mobile" class="form-control input-sm" name="fullName" placeholder="Mobile Number" ng-disabled="!register.email_id" only-alphabets> 
                        </div>
                        <br/>
                    </div>
                      <br><br><br>
                    <div class="col-md-12">
						<div class="col-md-6">
                            <label>Address</label>
                        	<input id="username" ng-model="register.address" class="form-control input-sm" name="fullName" placeholder="Address" ng-disabled="!register.mobile" only-alphabets>
                        </div>
                        <div class="col-md-6">
                            <label>State</label>
                        	<input id="username" ng-model="register.state" class="form-control input-sm" name="fullName" placeholder="State" ng-disabled="!register.address" only-alphabets>
                        </div>
                        <br/>
                    </div>
                      <br><br><br>
                    <div class="col-md-12">
					<!-- 	<div class="col-md-12 sinleline">
                            <label>Employess</label>
                        	<input id="username" ng-model="register.employee" class="form-control input-sm" name="fullName" placeholder="Employess" ng-disabled="!register.state" only-alphabets>
                        </div> -->

                        <div class="col-md-12 sinleline">
                            <label>Employees</label>
                            <!-- <input id="username" ng-model="register.group" class="form-control input-sm" name="fullName" placeholder="Blood Group" ng-disabled="!register.last_name" only-alphabets> -->
                            <select id="ddlViewBy" ng-model="register.employee" style="width: 509px;
    height: 30px;">
                                <option value="ADMIN">ADMIN</option>
                                <option value="DONOR" selected="selected">DONOR</option>
                            </select>
                        </div>

                        <br/>
                    </div>
            </div>
		</div>

		<div class="col-md-12 text-center">
			<button class="btn btn-primary" ng-click="submit(register)" style="margin-top: 45px;width: 111px;font-size: 18px;" ng-disabled="!register.employee">Submit</button>
            <button class="btn btn-danger dangerbutton" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</body>
<script type="text/ng-template" id="catregpopup">
    <div class="col-md-12" style="text-align: center;background-color: #99ff99;">
        <div class="model-header" style="background-color: white;">
            <h1 style="font-family: 'Acme', sans-serif;">Registration Status</h1>
        </div>
        <div class="model-body">
            <h2 style="font-family: 'Pacifico', cursive;">
        {{response}}
      </h2>
        </div>
        <div class="model-footer">
            <a ui-sref="login"><h1> <button  class="btn btn-success" ng-click="close()" ><span class="glyphicon glyphicon-ok-circle"></span>
 OK</button></h1></a>
        </div>
    </div>
</script>
<style type="text/css">

.sinleline{
	width:50%;
	margin-left: 214px;
}

#send {
    background-color: black;
    width: 92px;
    height: 48px;
    margin-top: -96px;
    left: 210px;
    border-radius: 0px 18px 12px 5px;
    margin-top: -56px;
}

#send1 {
    background-color: black;
    width: 92px;
    height: 47px;
    margin-top: -57px;
    left: 210px;
    border-radius: 0px 18px 12px 5px;
}

#send3 {
    width: 88px;
    height: 47px;
    margin-top: -57px;
    left: 205px;
    font-size: 14px;
    border-radius: 0px 18px 12px 5px;
}


.dangerbutton{
    margin-top: 45px;
    width: 111px;
    font-size: 18px;
}

#log {
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    color: #dfdbcf;
}

.signupbody {
/*    padding-top: 10px;
    padding-bottom: 40px;
    height: 85vh;*/
    width: 100vh;
    /*margin-top: 60px;*/
}

.form {
    max-width: 400px;
    padding: 15px;
    margin: 0 10px;
    border-radius: 25px;
    /*max-height: 500px;*/
}

.form .form-heading {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Black And White Picture', sans-serif;
    border-radius: 15px;
    font-size: 40px;
}

.form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
}

.form input[type="text"] {
    margin-bottom: 10px;
    border-radius: 15px;
}

.form input[type="password"] {
    margin-bottom: 10px;
    border-radius: 15px;
}

#otpnumber {
    height: 30px;
    width: 292px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
}
/*
.btn {
    background-color: black;
    color: white;
}*/

body {
    background: url('images/1.jpg')fixed;
    background-size: cover;
}

.para {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    color: black;
}

.para1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    color: black;
}

.para4 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    color: black;
    margin-left: 54px;
}


.deepshadow {
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
  }


@media only screen and (min-width: 320px) and (max-width: 767px) {
    .form {}
}
</style>